---
layout: default
title: About
---
<div class="content-container">
  <div class="back-tile" style="background-color: #88BDBC">
    <div class="grid-container">
      {% include top.html %}
    </div>
    <div class="grid-container">
      {% include middle.html %}
    </div>
    <div class="grid-container">
      {% include bottom.html %}
    </div>
  </div>
</div>
<div class="content-container">
  <div class="back-tile" style="background-color: #">
  </div>
</div>
<script type="text/javascript">
  {% include text-scramble.js %}
</script>
