<footer class="footer">
  <a href="https://goo.gl/ow4MVE"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
  <a href="https://bitbucket.org/chyl76/"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
</footer>
