<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height, initial-scale=1">
  <title>Christopher Lo || {{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
