<header class="header">
  <nav>
    <ul class="header-nav">
      <li><a href="/" {% if page.url == '/' %} class="selected" {% endif %}>About</a></li>
      <li><a href="/work/" {% if page.url == '/work/' %} class='selected' {% endif %}>Work</a></li>
      <li><a href="/play/" {% if page.url == '/play/' %} class='selected' {% endif %}>Play</a></li>
    </ul>
  </nav>
</header>
