<div class="grid-cell">
  <div class="text-container">
    <h2>
      I am an undergraduate <br>
      BSc Philosophy & Economics student <br>
      passionate about
    </h2>
    <div class="scramble-text"></div>
  </div>
</div>
