---
layout: default
title: Play
---
<div class="content-container particles-background" style="justify-content:center;">

  <div class="text-container">
    <h1 class="play-text">
      Do not click
    </h1>
  </div>

  <div id="particles-js"></div>

</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  {% include particles-setup.js %}
</script>
